a {
    text-decoration: none;
    display: inline;
}

.links {
    font-size: 3em;
}


#navbar ul {
    margin: 0 0 0 0;
}

#navbar li {
    display: inline;
    margin-right: 10px;
}

#header-wrap {
    background: #eeeeff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#navbar {
    padding: 5px 0 5px 0;
}

#sverre {
    font-size: 1.5em;
    font-weight: bold;
}

#main {
    height: 100%;
}

:target:before {
content:"";
display:block;
height:50px;
margin:-50px 0 0;
}

.img-circle {
    border-radius: 50%;
    width: 50%;
}