:root {
  --bg: #222529;
  --bg-light: #464949;
  --text: #D6D6D6;
  --text-light: #DBD5BC;
  --accent: #78B6AD;
  --accent-light: #87C9E5;
  --link: #E2AEA2;
  --red: #CD909B;
  --dimRed: #684249;
  --orange: #E2AEA2;
  --dimOrange: #704941;
  --yellow: #DBD5BC;
  --dimYellow: #6F6847;
  --green: #78B6AD;
  --dimGreen: #3E615C;
  --blue: #87C9E5;
  --dimBlue: #38494F;
  --purple: #B07CF3;
  --dimPurple: #5E406A;
  --grey: #CBCDCD;
  --dimGrey: #464949;
  --theme-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><rect x="0" y="0" fill="none" stroke="none" /><path fill="%23D6D6D6" d="M12 21q-3.775 0-6.388-2.613T3 12q0-3.45 2.25-5.988T11 3.05q.625-.075.975.45t-.025 1.1q-.425.65-.638 1.375T11.1 7.5q0 2.25 1.575 3.825T16.5 12.9q.775 0 1.538-.225t1.362-.625q.525-.35 1.075-.037t.475.987q-.35 3.45-2.937 5.725T12 21Zm0-2q2.2 0 3.95-1.213t2.55-3.162q-.5.125-1 .2t-1 .075q-3.075 0-5.238-2.163T9.1 7.5q0-.5.075-1t.2-1q-1.95.8-3.163 2.55T5 12q0 2.9 2.05 4.95T12 19Zm-.25-6.75Z"/></svg>');
  --theme-icon-hover: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><rect x="0" y="0" fill="none" stroke="none" /><path fill="%2378B6AD" d="M12 21q-3.775 0-6.388-2.613T3 12q0-3.45 2.25-5.988T11 3.05q.625-.075.975.45t-.025 1.1q-.425.65-.638 1.375T11.1 7.5q0 2.25 1.575 3.825T16.5 12.9q.775 0 1.538-.225t1.362-.625q.525-.35 1.075-.037t.475.987q-.35 3.45-2.937 5.725T12 21Zm0-2q2.2 0 3.95-1.213t2.55-3.162q-.5.125-1 .2t-1 .075q-3.075 0-5.238-2.163T9.1 7.5q0-.5.075-1t.2-1q-1.95.8-3.163 2.55T5 12q0 2.9 2.05 4.95T12 19Zm-.25-6.75Z"/></svg>');
}

:root:has(input[type=checkbox][id="theme-toggle"]:checked) {
  --bg: #EEEEEE;
  --bg-light: #CBCDCD;
  --text: #41474E;
  --text-light: #646868;
  --accent: #D26878;
  --accent-light: #e08f67;
  --link: #5690AF;
  --red: #D26878;
  --dimRed: #623039;
  --orange: #e08f67;
  --dimOrange: #926048;
  --yellow: #FFFAE1;
  --dimYellow: #D5C5A1;
  --green: #56AFA0;
  --dimGreen: #22453F;
  --blue: #5690AF;
  --dimBlue: #223844;
  --purple: #9271D6;
  --dimPurple: #47356C;
  --grey: #CBCDCD;
  --dimGrey: #646868;
  --theme-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><path fill="%2341474E" d="M12 15q1.25 0 2.125-.875T15 12q0-1.25-.875-2.125T12 9q-1.25 0-2.125.875T9 12q0 1.25.875 2.125T12 15Zm0 2q-2.075 0-3.538-1.463T7 12q0-2.075 1.463-3.538T12 7q2.075 0 3.538 1.463T17 12q0 2.075-1.463 3.538T12 17ZM2 13q-.425 0-.713-.288T1 12q0-.425.288-.713T2 11h2q.425 0 .713.288T5 12q0 .425-.288.713T4 13H2Zm18 0q-.425 0-.713-.288T19 12q0-.425.288-.713T20 11h2q.425 0 .713.288T23 12q0 .425-.288.713T22 13h-2Zm-8-8q-.425 0-.713-.288T11 4V2q0-.425.288-.713T12 1q.425 0 .713.288T13 2v2q0 .425-.288.713T12 5Zm0 18q-.425 0-.713-.288T11 22v-2q0-.425.288-.713T12 19q.425 0 .713.288T13 20v2q0 .425-.288.713T12 23ZM5.65 7.05L4.575 6q-.3-.275-.288-.7t.288-.725q.3-.3.725-.3t.7.3L7.05 5.65q.275.3.275.7t-.275.7q-.275.3-.687.288T5.65 7.05ZM18 19.425l-1.05-1.075q-.275-.3-.275-.713t.275-.687q.275-.3.688-.287t.712.287L19.425 18q.3.275.288.7t-.288.725q-.3.3-.725.3t-.7-.3ZM16.95 7.05q-.3-.275-.288-.687t.288-.713L18 4.575q.275-.3.7-.288t.725.288q.3.3.3.725t-.3.7L18.35 7.05q-.3.275-.7.275t-.7-.275ZM4.575 19.425q-.3-.3-.3-.725t.3-.7l1.075-1.05q.3-.275.712-.275t.688.275q.3.275.288.688t-.288.712L6 19.425q-.275.3-.7.288t-.725-.288ZM12 12Z"/></svg>');
  --theme-icon-hover: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><path fill="%23D26878" d="M12 15q1.25 0 2.125-.875T15 12q0-1.25-.875-2.125T12 9q-1.25 0-2.125.875T9 12q0 1.25.875 2.125T12 15Zm0 2q-2.075 0-3.538-1.463T7 12q0-2.075 1.463-3.538T12 7q2.075 0 3.538 1.463T17 12q0 2.075-1.463 3.538T12 17ZM2 13q-.425 0-.713-.288T1 12q0-.425.288-.713T2 11h2q.425 0 .713.288T5 12q0 .425-.288.713T4 13H2Zm18 0q-.425 0-.713-.288T19 12q0-.425.288-.713T20 11h2q.425 0 .713.288T23 12q0 .425-.288.713T22 13h-2Zm-8-8q-.425 0-.713-.288T11 4V2q0-.425.288-.713T12 1q.425 0 .713.288T13 2v2q0 .425-.288.713T12 5Zm0 18q-.425 0-.713-.288T11 22v-2q0-.425.288-.713T12 19q.425 0 .713.288T13 20v2q0 .425-.288.713T12 23ZM5.65 7.05L4.575 6q-.3-.275-.288-.7t.288-.725q.3-.3.725-.3t.7.3L7.05 5.65q.275.3.275.7t-.275.7q-.275.3-.687.288T5.65 7.05ZM18 19.425l-1.05-1.075q-.275-.3-.275-.713t.275-.687q.275-.3.688-.287t.712.287L19.425 18q.3.275.288.7t-.288.725q-.3.3-.725.3t-.7-.3ZM16.95 7.05q-.3-.275-.288-.687t.288-.713L18 4.575q.275-.3.7-.288t.725.288q.3.3.3.725t-.3.7L18.35 7.05q-.3.275-.7.275t-.7-.275ZM4.575 19.425q-.3-.3-.3-.725t.3-.7l1.075-1.05q.3-.275.712-.275t.688.275q.3.275.288.688t-.288.712L6 19.425q-.275.3-.7.288t-.725-.288ZM12 12Z"/></svg>');
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

#theme-toggle-label {
  width: 1.3rem;
  height: 1.3rem;
  aspect-ratio: 1/1;
  display: inline-block;
  vertical-align: middle;
  fill: var(--text);
  background-color: transparent;
  cursor: pointer;
  color: var(--accent);
  background-image: var(--theme-icon);
  background-repeat: no-repeat;
  background-size: contain;
}

#theme-toggle-label:hover {
  background-image: var(--theme-icon-hover);
}


#nav-bar {
  padding: .625rem 0 0 0;
  display: flex;
  flex-direction: row;
  gap: .25rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end
}

#footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}

.accent-data {
  color: var(--accent);
}

.theme-transition {
  transition: color 0.3s ease, background-color 0.3s ease;
}

.tags-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-end
}

.title-list li {
  margin-bottom: .375rem;
}

/* icons settings */
.icons {
  width: 1.3rem;
  height: 1.3rem;
  aspect-ratio: 1/1;
  display: inline-block;
  vertical-align: middle;
  color: var(--text);
  fill: var(--text);
  background-color: transparent;
  cursor: pointer;
}

.icons:hover {
  background-color: transparent;
  color: var(--accent);
}

/* footnotes */
.footnote-definition {
  margin: 0 0 0 .125rem;
}

.footnote-definition-label {
  color: var(--accent);
}

.footnote-definition p {
  display: inline;
  margin: .625rem 0 0 .625rem;
}

/* general classes */
.no-style {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0
}

.no-style:hover {
  background-color: transparent;
  color: var(--accent);
}

.center {
  text-align: center;
}

.center img {
  display: block;
  margin: 1rem auto;
}

.float-right {
  float: right
}

.float-left {
  float: left
}

/* shortcodes css */
.webring {
  margin: .375rem;
}

.timestamp {
  color: var(--accent)
}